<mat-tab-group headerPosition="below">
    <mat-tab label="Drone n°1">
        <div class="control">
            <button mat-button class="warning">
                <mat-icon> gps_fixed </mat-icon>
            </button>

            <button mat-button class="warning">
                <mat-icon> signal_wifi_4_bar </mat-icon>
            </button>
            <button mat-button class="error">
                <mat-icon> battery_charging_full </mat-icon>
            </button>
        </div>
        <div>
            <app-rtspstreamer  [width]="width" [height]="height"  [drone]="'ANAFI_192.168.42.1'"></app-rtspstreamer>
        </div>
        <div class="control">
            <button mat-button >
                <mat-icon>camera_alt</mat-icon>
            </button>
            <button mat-button >
                <mat-icon>location_on</mat-icon>
            </button>
            <a mat-button routerLink="/fullscreen/drone_1">
                <mat-icon>fullscreen</mat-icon>
            </a>
            <a mat-button routerLink="/console/drone_1">
                <mat-icon>airplay</mat-icon>
            </a>
        </div>
    </mat-tab>
    <mat-tab label="Drone n°2">
    </mat-tab>
    <mat-tab label="Drone n°3">
    </mat-tab>   
    <mat-tab label="Drone n°4">
    </mat-tab>     
</mat-tab-group>