<mat-tab-group headerPosition="below" mat-align-tabs="center">
    <mat-tab *ngFor="let drone of availableDrones" [label]="drone" >
        <div class="control">
 
            <a mat-button [ngClass]="GPSStrength[getGPSStrength(drone)]"> 
                <mat-icon> {{getGPSStatus(drone) === GPSStatus.ready?'gps_fixed':getGPSStatus(drone) === GPSStatus.unavailable?'gps_not_fixed':'gps_off'}} </mat-icon>
            </a>


            <a mat-button [ngClass]="WifiStrength[getWifiStrength(drone)]"> 
                <mat-icon> {{getWifiStatus(drone) === WifiStatus.ready?'signal_wifi_4_bar':'signal_wifi_off'}} </mat-icon>
            </a>

            <a mat-button [ngClass]="BatteryStatus[getBatteryStatus(drone)]"> 
                <mat-icon> battery_charging_full </mat-icon>
            </a>
            

          
        </div>
        <div>
            <app-rtspstreamer  *ngIf="isOnView(drone, ViewsEnum.DroneCameraView)" [width]="width" [height]="height"  [drone]="drone"></app-rtspstreamer>
            <app-drone-map *ngIf="isOnView(drone, ViewsEnum.DroneMapView)" [height]="height"  [drone]="drone"></app-drone-map>
        </div>
        <div class="control">
            <button mat-button  (click)="changeView(drone, ViewsEnum.DroneCameraView)">
                <mat-icon>camera_alt</mat-icon>
            </button>
            <button mat-button  (click)="changeView(drone, ViewsEnum.DroneMapView)">
                <mat-icon>location_on</mat-icon>
            </button>
            <a mat-button routerLink="/fullscreen/{{drone}}">
                <mat-icon>fullscreen</mat-icon>
            </a>
            <a mat-button routerLink="/console/{{drone}}">
                <mat-icon>airplay</mat-icon>
            </a>
        </div>
    </mat-tab>

</mat-tab-group>