<mat-drawer-container class="main-container" fullscreen>
  <mat-drawer #drawer mode="over">
    <mat-action-list>
      <a mat-list-item class="main-icon" routerLink="/" (click)="drawer.close();">
        <span>Locuste Application Mobile</span>
      </a>
      <a mat-list-item routerLink="/" (click)="drawer.close();">
        <mat-icon matListIcon>toc</mat-icon>
        <span>Vue simplifiée</span>
      </a>

      <a mat-list-item (click)="drawer.close();">
        <mat-icon matListIcon>location_on</mat-icon>
        <span>Carte</span>
      </a>

      <a mat-list-item routerLink="/monitor" (click)="drawer.close();">
        <mat-icon matListIcon>device_hub</mat-icon>
        <span>Etat général</span>
      </a>
      <a mat-list-item (click)=" drawer.close();">
        <mat-icon matListIcon>help</mat-icon>
        <span>Aide</span>
      </a>

      <button mat-list-item (click)="authenticate(); drawer.close();">
        <mat-icon matListIcon>input</mat-icon>
        <span> Login </span>
      </button>


    </mat-action-list>

  </mat-drawer>
  <mat-drawer-content>

    <router-outlet></router-outlet>

    <button mat-raised-button (click)="drawer.toggle()" class="footer">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>