

.footer{
    width:100%;
    position: absolute;
    bottom: 0;
    height:8vh;
}


a {
  text-decoration: none;
}

.info-icon {
  width:95%;
  height:100%
}

.item-bottom{
  position:absolute; 
  bottom:0;
}
