
html, body {
    position: fixed;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 100% !important; width: 100% !important;
}
.cdk-global-scrollblock{
    overflow-y: auto !important;
}

.control{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error {
  background-color: red;
}
  
.success {
  background-color: green;
}
  
.warning{
 background-color: orange;
}
  
.info {
  background-color: blue;
}

.control{
  width: 100%;
}

.high {
  background-color: green ;
}

.medium{
  background-color: orange ;
}


.low{
  background-color: red ;
}

.critical{
  background-color: darkred ;
}

.mat-tab-header-pagination {
  display: none !important;
  }
  .mat-tab-header {
  overflow: scroll !important;
  }
  .mat-tab-header::-webkit-scrollbar {
  display: none !important;
  }
  .mat-tab-label-container {
  overflow: initial !important;
  }